/* BODY */

body {
    margin: 0;
    padding-top: 130px;
    padding-bottom: 0;
    background-color: rgb(245, 245, 220);
    font-family: 'Roboto', serif;
    font-size: 16px;
    line-height: 1.6;
}

/* HEADER */

.header-principal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;

    background-color: rgb(0, 0, 0);
    color: rgb(245, 245, 220);

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80px;
    padding: 15px;
    gap: 10px;
}

/* LOGO + MARCA */
.logo {
    font-size: 18px;
    font-weight: 700;
}

.logo a {
    color:brown;
    text-decoration: none;
}

/* NAVEGACION PRINCIPAL */

.nav-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.nav-principal a {
    color:blanchedalmond;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
}


/* MAIN = CONTENIDO PRINCIAL Y  SIDEBAR */


main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
}

.hero {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 50, 50);
    border-radius: 8px;
    padding: 30px 20px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.hero p {
    font-size: 14px;
    margin: 0;
}

/* SIDEBAR */


.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

/* TARJETAS DE CONTENIDO */
.card {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(221,221,221);
    border-radius: 8px;
    padding: 20px;
    color: rgb(245, 245, 220);
}

.card h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
    color: rgb(245, 245, 220);
}

.card p {
    font-size: 14px;
    margin: 0;
    line-height: 1.6;
    color: rgb(245, 245, 220)
}

.card figure {
    margin: 0 0 15px 0;
    padding: 0;
}

.card img {
    width: 100%;
    height: auto;
    min-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

/* FOOTER */

 .footer-principal {
    background-color: rgb(0, 0, 0);
    color: rgb(245, 245, 220);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    padding: 30px 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}
 
/*===========768=============== */

@media (min-width: 768px) {
    
    /* Ajustar body padding */
    body {
        padding-top: 120px;
        padding-bottom: 0;
    }
    
    /* Header: Logo y nav lado a lado */
    .header-principal {
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }
    
    .logo {
        font-size: 22px;
    }
    
    .nav-principal ul {
        gap: 20px;
        flex-wrap: nowrap;
    }
    
    .nav-principal a {
        font-size: 16px;
    }
    
    /* Main: todavía en flex column */
    main {
        padding: 0 30px;
        gap: 30px;
    }
    
    .hero {
        padding: 40px;
    }
    
    .hero h1 {
        font-size: 28px;
    }
    
    /* Sidebar en la parte inferior*/
    .sidebar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    .sidebar h2 {
        font-size: 22px;
        grid-column: 1 / -1;
    }
    
    .card h3 {
        font-size: 18px;
    }
    
    .card img {
        min-height: 250px;
    }
    
    /* Footer: De flex column a flex row */

.footer-principal {
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 20px;
}
} /*===========768=============== */


/*===========1200=============== */

@media (min-width: 1200px) {

}